
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.ant-menu-dark .ant-menu-item-selected {
  background-color: #b80054 !important; /* your magenta color */
  color: #fff !important;
}

.ant-menu-dark .ant-menu-item-selected .anticon,
.ant-menu-dark .ant-menu-item-selected a {
  color: #fff !important;
}

/* Optional: Add hover color */
.ant-menu-dark .ant-menu-item:hover {
  background-color: #ab0d4b !important;
  color: #fff !important;
}